@media all and (min-width: 800px) {
	html, body {
		font-size: 15px;
	}

	#main .box {
		max-width: 40rem;
	}

	#main .fees {
		width: 30rem;
	}
}

@media all and (min-width: 700) {
	
h2 {
	max-width: 20rem;
	height: 5rem;
	font-size: 2.5rem;
	line-height: 2.5rem;
	padding-left: 2.4rem;
}

	button, .button {
		font-size: 1.167rem;
		padding: 0 2rem;
		height: 3.417rem;
		line-height: 3.417rem;
		border: 0.083rem solid var(--main-color);
		border-radius: 0.25rem;
	}

/* INPUT */
	input {
		color: var(--main-color);
		font-family: var(--main-font);
		font-size: 16px;
		font-weight: 500;
		width: 16.417rem;
		padding: .91rem .91rem 1.2rem;
		border-radius: 0.25rem;
		border: 0.083rem solid var(--main-color);
	}
	#main .wrap {
		margin-top: 10rem;
		padding: 1.5rem 0;
	}
		#main .box {
			max-width: 40rem;
		}

			#main .links a,
			a.pap {
				font-size: 1.167rem;
				margin: 0 2.8rem 0 3.8rem;
				line-height: 1.2;
			}
			#main .links a:before,
			a.pap:before {
				left: -2.8rem;
				top: -.25rem;
				width: 2.5rem;
				height: 1.583rem;
			}

			#main h1 {
				max-width: 37.583rem;
				font-size: 2.5rem;
				margin: 2.4rem 0 4rem;
			}

					.cta .button {
						box-shadow: 0 1.167rem 3.167rem rgba(76, 48, 146, 0.3);
						font-size: 1.25rem;
						height: 3.75rem;
						line-height: 3.75rem;
					}
					#main .cta .button {
						font-size: 1.417rem;
						padding: 0 2.6rem;
						height: 4.167rem;
						line-height: 4.167rem;
						border: 0.083rem solid var(--main-color);
						border-radius: 0.25rem;
					}

					.cta span {
						padding: 0.75rem 0 0 1.5rem;
						width: 8.25rem;
						font-size: 1rem;
					}

					.cta .about {
						padding-top: 1rem;
						font-size: 0.917rem;
					}

						.cta .about img {
							margin-right: .5rem;
						}

			.fees {
				clear: both;
				color: var(--main-color);
				font-family: var(--main-font);
				font-size: 0.846rem;
				font-weight: 500;
				text-transform: uppercase;
				width: 34rem;
				margin-bottom: 4rem;
			}

				.fees .top {
					width: 100%;
				}

					.fees .top > .total {
						font-size: 1.167rem;
						padding-right: 1.5rem;
						line-height: 1.35;
					}

						.fees .top .target .text {
							font-size: 0.75rem;
						}

						.fees .top .target .target-summ {
							font-size: 0.917rem;
						}

				.fees .cls {
					width: 100%;
					height: 0.5rem;
					border-radius: 0.417rem;
					margin: 1rem 0;
				}

					.fees .cls .fill {
						height: 0.5rem;
						border-radius: 0.417rem;
					}

					.fees .currency span {
						padding-left: 1.4rem;
						height: 1.167rem;
						line-height: 1.167rem;
						background-size: .75rem auto;
						margin-right: 2.2rem;
					}



	.counter {
	}

		.counter  .counter-header {
			font-size: 1rem;
		}

		.counter .counter-box {
			width: 6rem;
			padding-top: 2.5rem;
		}

			.counter .counter-box .counter-digit {
				font-size: 3rem;
			}

			.counter .counter-box .counter-name {
				font-size: 1.167rem;
			}


					#details .diagrams ul li .line .colb {
						width: 24.5rem;
						height: 1.167rem;
						margin: .5rem 0;
						border-radius: 0.833rem;
					}

/* TEAM */
	#team {}


		#team h2 {
			margin: 5rem 0 1rem;
		}

		#team ul {
			margin: 3rem 0;
			padding: 0;
			display: table;
			width: 100%;
		}

			#team li > div {
				padding: 2.917rem 0 0 4.083rem;
				margin: 1rem;
			}

				#team ul li .box {
					width: 20rem;
					height: 20rem;
				}

					#team ul li .pic {
						height: 14.75rem;
						width: 14.75rem;
						box-shadow: 0 1.2rem 2rem 0 #B5B0C2;
					}

						#team ul li .pic img {
							height: 15rem;
							width: 15rem;
						}

					#team ul li .linked {
						padding: 1.5rem 0 0 12.5rem;
					}

						#team .linked a {
							width: 5.25rem;
							height: 2rem;
						}

					#team ul li .bottom {
						padding-top: 9rem;
						padding-left: 1.75rem;
					}

						#team ul li .name {
							font-size: 1.333rem;
						}

						#team ul li .who {
							font-size: 1rem;
							line-height: 1.898rem;
						}

						#team ul li .about {
							padding-top: .75rem;
						}

							#team ul li .about a {
								font-size: 0.833rem;
								line-height: 1.726rem;
							}

							#team ul li .about a:after {
								width: 1.75rem;
								height: 1.083rem;
							}


							#team ul li .about a:hover {
								padding-right: .5rem;
							}


					#team ul li.ascrou .t-text {
						color: var(--main-color);
						font-family: var(--main-font);
						font-size: 1.667rem;
						font-weight: 700;
						position: absolute;
						right: 1.5rem;
						top: 0;
					}

					#team ul li.ascrou .pic {
						box-shadow: 0 1.2rem 2rem rgba(54,33,104,0.41)
					}


}

@media all and  (min-width: 1000px) {


	#main .fees {
		width: 30rem;
	}
	.social a {
		margin: 0 1rem;
	}

	nav {
		padding: 2.833rem 4rem 1rem;
	}


	nav > ul > li {
		display: block;
	}

	nav .link {
		padding-top: .5rem;
	}
	nav > ul > li.lang {
		margin: .3rem 0 0 3rem;
	}

	nav > ul > li.burger {
		display: none;
	}

	nav > ul > li.subscribe {
		display: block;
		float: right;
		margin: 0;
		margin-left: 4.6rem;
	}

	#main .wrap {
		padding: 3.5rem 0;
	}

	#main .wrap .box {
		max-width: 40rem;
		position: relative;
	}

	#main .wrap:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 80%;
		height: 100%;
		background: url(../img/main.svg) no-repeat center right;
		background-size: contain;
	}

	#main .fees {
		padding-top: 1rem;
	}

	#main .video-link {
		position: absolute;
		bottom: 8.083rem;
		right: 0;
		padding: 0;
	}


	.fees .top {
		padding-left: 1.3rem;
	}

	.fees .currency {
		padding-left: 1.3rem;
	}

	.counter  .counter-header {
		padding-left: 1.3rem;
	}

	#slider .scenes {
		padding-top: 120px;
	}

	#slider .screen:after {
		content: "";
		width: 360vw;
		height: 0.167rem;
		background: var(--main-color);
		opacity: 0.05;
		position: absolute;
		top: 64px;
	}

	#slider .scenes .progress {
		display: block;
		position: absolute;
		top: -100px;
	}

	#slider .scenes > div .wrap {
		margin: 0 12rem;
		min-height: 25rem;
	}

	#slider .scenes .scene .box {
		padding: 4rem 0;
	}

		#slider .wrap:before {
			top: -4rem;
			font-size: 12.083rem;
		}

		#slider .scenes #first .wrap:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: calc(100% - 38rem);
			background: url(../img/slider-1.png) no-repeat center center /contain;
		}

		#slider #step-3 .wrap:before {
			left: -9rem;
		}

		#slider #step-4 .wrap:before {
			left: -9rem;
		}

		#slider .scenes #second .wrap:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: calc(100% - 38rem);
			background: url(../img/slider-2.png) no-repeat center center /contain;
		}

		#slider .scenes #step-3 .wrap:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: calc(100% - 38rem);
			background: url(../img/slider-3.svg) no-repeat center center /contain;
		}

		#slider .scenes #step-4 .wrap:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: calc(100% - 38rem);
			background: url(../img/slide-4.svg) no-repeat center center /contain;
		}



	#details .wrap {
		padding-left: 2.4rem;
	}

	#details .top > div {
		display: table-cell;
		padding: 0 5.3rem 0 3.58rem;
	}

	#details .bottom > div {
		display: table-cell;
		padding: 0 5.3rem 0 0;
		width: 50%;
	}

		#details .diagrams ul li > div {
			float: left;
		}

		#details .diagrams ul li .line .colb {
			margin: 0;
		}

		#details .diagrams ul li .more {
			padding-left: 15px;
			font-size: 1.083rem;
		}



					#details .diagrams ul li .line .colb.w15 {
						width: 10rem;
					}

					#details .diagrams ul li .line .colb.w10 {
						width: 7rem;
					}

					#details .diagrams ul li .line .colb.w5 {
						width: 3.333rem;
					}

	#partners .box > * {
		display: table-cell;
		padding: 0 .5rem;
	}

	#partners h5 {
		width: 14rem;
		padding: 0;
	}


	#team .wrap {
		padding: 0 2.4rem;
	}

		#team ul li {
			display: block;
			width: 30%;
			float: left;
			text-align: center;
			vertical-align: top;
			margin: 0 0 1rem 1rem;
		}

		#team li > div {
			margin: 0;
		}

		#team ul li .box {
			width: 16.5rem;
		}

		#team ul li .linked {
			padding: 1rem 0 0 9rem
		}

		#team ul li .pic {
			width: 9rem;
			height: 9rem;
			left: 1rem;
		}

			#team ul li.small {
				width: 25%;
				padding-top: 4.5rem;
			}


				#team ul li.small {
					padding-top: 1.5rem;
				}

				#team ul li.small > div {
					padding: 1.25rem 0 0 1.25rem;
				}

					#team ul li.small .box {
						width: 15.1rem;
						height: 17.1rem;
					}

					#team ul li.small .box .pic{
						box-shadow: 0 .4rem 1rem 0 #B5B0C2;
					}

					#team ul li.small .bottom {
						padding-top: 6.15rem;
						padding-left: 1rem;
					}

						#team ul li.small .who {
							font-size: 0.833rem;
							font-weight: 400;
						}

					#team ul li.small .linked {
						padding-left: 11rem;
					}
						#team ul li.small .linked a {
							width: 1.4rem;
							height: 1.4rem;
							background-image: url(../img/linked-s.svg);
						}




					#team .wrap {
						margin: 0 1rem;
						padding: 0;
					}

					#team ul li.ascrou > div {
						padding: 2rem 0 0 2rem;
					}

					#team ul li.ascrou .t-text {
						font-size: 1.267rem;
						right: 2rem;
					}

					#team ul li .bottom {
						padding-left: .8rem; 
					}

					#team ul li.ascrou,
					#team ul li.small {
						width: 25%;
						float: left;
						margin: 0;
						padding-right: 1rem;
						box-sizing: border-box;
					}

					#team ul li.ascrou .pic img {
						width: 9rem;
						height: 9rem;
					}

					#team ul li.small .box .pic,
					#team ul li.small .box .pic img {
						width: 9rem;
						height: 9rem;
					}

					#team ul li.small .name {
						font-size: 1.167rem;
					}

					#team ul li .name {
						font-size: 1.2rem;
					}

	#smi .wrap {
		padding: 3rem 2.4rem;
	}

		#smi .contents {
			display: table;
			width: 100%;
		}

		#smi .contents > * {
			display: table-cell;
			vertical-align: middle;
		}

			#smi img {
				max-width: 59rem;
				min-height: 17rem;
			}


	.cta > div:last-child {
		width: auto;
	}

	#cta .container {
		display: table;
		width: 100%;
	}

		#cta .container > * {
			display: table-cell;
			vertical-align: top;
		}

		#cta .cta {
			padding-top: 3rem;
		}

		#cta .right {
			clear: both;
			text-align: right;
			border-left: 0.083rem dashed rgba(167, 178, 198, .25);
		}

	footer ul li {
		float: right;
		margin-left: 5rem;
	}

	footer ul li:first-child {
		float: left;
		margin-bottom: 0;
	}

	.counter .counter-box {
		width: 10rem;
		padding-top: 2.5rem;
		position: relative;
		float: left;
	}

	.counter .counter-box:before {
		content: "";
		position: absolute;
		top: 1.5rem;
		left: 1.5rem;
		width: 5rem;
		height: 5rem;
		box-shadow: -0.75rem 0.75rem 3rem rgba(76, 48, 146, 0.1);
		background-color: #ffffff;
	}
		.counter .counter-box .counter-digit {
			color: var(--main-color);
			font-size: 4.167rem;
			font-weight: 700;
			line-height: 1;
			position: relative;
		}


	#slider .btns {
		display: block;
	}
}


@media all and  (min-width: 1400px) {
	html, body {
		font-size: 14px;
		overflow-x: hidden;
	}

	#details .bottom > div {
		display: table-cell;
		padding: 0 5.3rem 0 3.58rem;
	}
	
        #team ul li {
            display: table-cell;
            width: 33.33%;
            float: none;
            text-align: center;
            vertical-align: top;
        }

            #team li > div {
                margin: 1rem 4rem;
            }

            #team ul li.small {
                padding-top: 4.5rem;
            }

			#team ul li .box {
				width: 18rem;
			}

			#team ul li .bottom {
				padding-top: 5.7rem;
			}
                #team ul li.small {
                    padding-top: 1.5rem;
                }

                #team ul li.small > div {
                    padding: 1.25rem 0 0 1.25rem;
                }

                    #team ul li.small .box {
                        width: 15.1rem;
                        height: 17.1rem;
                    }

                    #team ul li.small .box .pic{
                        box-shadow: 0 .4rem 1rem 0 #B5B0C2;
                    }
                    #team ul li.small .box .pic,
                    #team ul li.small .box .pic img {
                        width: 10.1rem;
                        height: 10.1rem;
                    }

                    #team ul li.small .bottom {
                        padding-top: 6.6rem;
                        padding-left: 1rem;
                    }

                        #team ul li.small .name {
                            font-size: 1.167rem;
                        }

                        #team ul li.small .who {
                            font-size: 0.833rem;
                            font-weight: 400;
                        }

                    #team ul li.small .linked {
                        padding-left: 11rem;
                    }
                        #team ul li.small .linked a {
                            width: 1.4rem;
                            height: 1.4rem;
                            background-image: url(../img/linked-s.svg);
                        }


		#team ul li .pic {
			width: 10rem;
			height: 10rem;
			left: 0;
		}




					#team .wrap {
						margin: 0 5%;
						padding: 0 2.4rem;
					}

					#team ul li.ascrou > div {
						padding: 2rem 0 0 3rem;
					}

					#team ul li.ascrou .t-text {
						font-size: 1.267rem;
						right: 2rem;
					}

					#team ul li .bottom {
						padding-left: 1.75rem; 
					}

					#team ul li.ascrou .pic img {
						width: 10rem;
						height: 10rem;
					}

					#team ul li .name {
						font-size: 1.66rem;
					}
}